@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ember-basic-dropdown';

body {
    --tw-bg-opacity: 1;
    background-color: rgba(75, 85, 99, var(--tw-bg-opacity));
    overflow: auto;
}

/* Main container */
.custom-notify {
  position: fixed;
  bottom: 10px;
  right: 0;
}

/* Message box */
.custom-notify .callout {
  position: relative;
  overflow: hidden;
  @apply bg-green-500 rounded-md shadow-xl m-2 p-2 flex
}

/* Classes applied for animating in/out */
.custom-notify .ember-notify-show {}
.custom-notify .ember-notify-hide {}



