{{page-title "Series Shuffle"}}
<div class="flex flex-col min-h-screen w-screen bg-gray-600">
    <EmberNotify @defaultClass="custom-notify" as |message close|>
        <span class="p-2 w-full text-white message-from-block">
            {{message.text}}
        </span>
        <a {{on "click" (action close)}} class="justify-self-end p-2 text-white close">
            <svg xmlns="http://www.w3.org/2000/svg" class="justify-self-end w-5 h-5 fill-current" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
        </a>
    </EmberNotify>
    <Navbar />
    <div class="flex-grow">
        {{outlet}}
    </div>
    <div class="flex items-center w-full mt-8 h-20 text-gray-300 bg-gray-800 justify-around">@2021 ehrenschwan </div>
</div>
